// http://paletton.com/#uid=43j0u0kmWzx8fNUgdG9sHr6tei1

$e-lightblue: #9FD4D6;
$e-blue: #5EB9BD;
$e-medblue: #30A0A5;
$e-darkblue: global #0E7E83;
$e-vdarkblue: global #085357;

$e-lightyellow: global #FFE9BD;
$e-yellow: global #FFE9BD;
$e-medyellow: global #FFE9BD;
$e-darkyellow: global #D89816;
$e-vdarkyellow: global #90650C;

$e-lightred: global #FFBFBD;
$e-red: global #FF817E;
$e-medred: global #FF4D48;
$e-darkred: global #D81B16;
$e-vdarkred: global #900F0C;

$e-lightorange: global #FFDCBD;
$e-orange: global #FFBA7E;
$e-medorange: global #FF9D48;
$e-darkorange: global #D87016;
$e-vdarkorange: global #90490C;